*.optrpt
*.o
*.mod
*.list
*.ok
*.gmkview
*.genesis
*.incpath
*.incpath.local
*.intfbpathflag
*.modpath
*.modpath.local
*.srcpath
*.logfile
.gdb
bin
lib
src/local/.include
src/local/.intfb
.git
.gmkfile
sys
.ddt
.vimpack
src/.gmak
src/.odb_nmxupd
src/main
src/unsxref
hub
data/*
ics_*
.*.swp
*.lst
slurm-*.out
