*.optrpt
*.o
*.mod
*.list
*.ok
*.gmkview
*.genesis
*.incpath
*.incpath.local
*.intfbpathflag
*.modpath
*.modpath.local
*.srcpath
*.logfile
.gdb
bin
lib
src/local/.include
src/local/.intfb
.git
.gmkfile
sys
.ddt
.vimpack
src/.gmak
src/.odb_nmxupd
src/main
src/unsxref
hub
data/*
ics_*
.*.swp
*.lst
slurm-*.out
*.new
*.xml
src/local/.fypp
fypp/*.F90
src/local/arpifs/module/field_registry_mod.F90
src/local/arpifs/module/mfphys_surface_type_mod.F90
src/local/arpifs/module/surface_variables_mod.F90
src/local/arpifs/module/surface_views_module.F90
src/local/arpifs/module/variable_module.F90
